html {
  font-family: Preahvihear, sans-serif;
  --primary-color: #E92323;
  --secondary-color: #333333;
  --bg-color: #D2EDA6;
}

html[data-theme=dark] {
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --bg-color: #202020;
}

body {
  background-color: var(--bg-color);
}

* {
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  margin-bottom: 0.25em;
font-size: 45px;
}


.theme-switch-wrapper {
    min-width: 90px;
    font-size: 25px;
}

img {
    max-width: 100%;
  height: auto;

}

h2 {
  color: var(--secondary-color);
  margin-top: 4;
  margin-bottom: 2em;
    font-size: 40px;
}

h3 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
    font-size: 25px;
}

.description {
    font-size: 20px;
    text-align: left;
}

section {
  margin-bottom: 3em;
  position: relative;
}

.cv h1, .cv h2, .description, .Education__sel,.contact__email{
  word-wrap: break-word;
  white-space: pre-line;
}


.cv {
  max-width: 900px;
  margin: 0 auto;
}

.contacts {
  margin-bottom: 2em;
}

.contact {
  display: flex;
}
.contact__type {
    color: var(--primary-color);
  min-width: 90px;
    font-size: 25px;
}

.contact__email {
    font-size: 25px;
      display: block;
}


.Education__sel{
    color: var(--primary-color);
  min-width: 90px;
    font-size: 35px;
}

.experience {
  display: flex;
  margin-bottom: 2em;
}
.experience__date {
  min-width: 185px;
  margin-bottom: 1em;
}
.experience__name {
  font-weight: bold;
}

@media (max-width: 575px) {
  .experience {
    display: block;
  }
}


.theme-switch {
  display:flex;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  // background-color: #66bb6a;
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html.transition,
html.transition *
{
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

@media (max-width: 320px) {
  * {
    max-width: 100%;
  }
}

@media (min-width: 321px) {
  * {
    max-width: none;
  }
}

